In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("historical_disaster_data.csv")   
df = df[df["Country"] == "India"]
df.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,GADM Admin Units,Entry Date,Last Update
0,2022-0628-IND,No,tec-tra-roa-roa,Technological,Transport,Road,Road,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,93.294607,NaN,NaN,2022-10-06,2023-09-26
1,2000-0027-IND,No,tec-tra-roa-roa,Technological,Transport,Road,Road,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,54.895152,NaN,NaN,2003-07-01,2023-09-25
2,2000-0030-IND,No,tec-tra-rai-rai,Technological,Transport,Rail,Rail,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,54.895152,NaN,NaN,2003-07-01,2023-09-25
3,2000-0077-IND,No,tec-mis-fir-fir,Technological,Miscellaneous accident,Fire (Miscellaneous),Fire (Miscellaneous),NaN,Train,IND,...,NaN,NaN,NaN,NaN,NaN,54.895152,NaN,NaN,2003-07-01,2023-09-25
4,2000-0147-IND,No,tec-tra-rai-rai,Technological,Transport,Rail,Rail,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,54.895152,NaN,NaN,2003-07-01,2023-09-25

In [3]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 846 entries, 0 to 845
Data columns (total 47 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     846 non-null    str
 1   Historic                                   846 non-null    str
 2   Classification Key                         846 non-null    str
 3   Disaster Group                             846 non-null    str
 4   Disaster Subgroup                          846 non-null    str
 5   Disaster Type                              846 non-null    str
 6   Disaster Subtype                           846 non-null    str
 7   External IDs                               108 non-null    str
 8   Event Name                                 226 non-null    str
 9   ISO                                        846 non-null    str
 10  Country                                    846 non-null    str
 11  Subregion                                  846 non-null    str
 12  Region                                     846 non-null    str
 13  Location                                   843 non-null    str
 14  Origin                                     215 non-null    str
 15  Associated Types                           139 non-null    str
 16  OFDA/BHA Response                          846 non-null    str
 17  Appeal                                     846 non-null    str
 18  Declaration                                846 non-null    str
 19  AID Contribution ('000 US$)                16 non-null     float64
 20  Magnitude                                  157 non-null    float64
 21  Magnitude Scale                            438 non-null    str
 22  Latitude                                   77 non-null     float64
 23  Longitude                                  77 non-null     float64
 24  River Basin                                78 non-null     str
 25  Start Year                                 846 non-null    int64
 26  Start Month                                845 non-null    float64
 27  Start Day                                  794 non-null    float64
 28  End Year                                   846 non-null    int64
 29  End Month                                  843 non-null    float64
 30  End Day                                    794 non-null    float64
 31  Total Deaths                               809 non-null    float64
 32  No. Injured                                358 non-null    float64
 33  No. Affected                               253 non-null    float64
 34  No. Homeless                               49 non-null     float64
 35  Total Affected                             589 non-null    float64
 36  Reconstruction Costs ('000 US$)            0 non-null      float64
 37  Reconstruction Costs, Adjusted ('000 US$)  0 non-null      float64
 38  Insured Damage ('000 US$)                  17 non-null     float64
 39  Insured Damage, Adjusted ('000 US$)        17 non-null     float64
 40  Total Damage ('000 US$)                    119 non-null    float64
 41  Total Damage, Adjusted ('000 US$)          115 non-null    float64
 42  CPI                                        815 non-null    float64
 43  Admin Units                                364 non-null    str
 44  GADM Admin Units                           354 non-null    str
 45  Entry Date                                 846 non-null    str
 46  Last Update                                846 non-null    str
dtypes: float64(20), int64(2), str(25)
memory usage: 310.8 KB

In [4]:
df.describe(include='all')

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,GADM Admin Units,Entry Date,Last Update
count,846,846,846,846,846,846,846,108,226,846,...,0.0,17.000000,1.700000e+01,1.190000e+02,1.150000e+02,815.000000,364,354,846,846
unique,846,1,42,2,8,24,42,106,151,1,...,NaN,NaN,NaN,NaN,NaN,NaN,305,292,559,61
top,2022-0628-IND,No,tec-tra-roa-roa,Natural,Transport,Flood,Road,GLIDE:FL-2005-000104,Building,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,"[{""adm1_code"":70081,""adm1_name"":""Uttar Pradesh""}]","[{""gid_1"":""IND.34_1"",""migration_date"":""2025-12...",2003-07-01,2023-09-25
freq,1,846,145,428,252,205,145,2,14,846,...,NaN,NaN,NaN,NaN,NaN,NaN,11,11,93,399
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,313294.117647,4.339175e+05,1.038906e+06,1.422476e+06,71.008301,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,281627.361221,3.956281e+05,2.365966e+06,3.072203e+06,11.849180,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5000.000000,8.304000e+03,4.160000e+02,7.250000e+02,54.895152,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,100000.000000,1.402900e+05,5.000000e+04,7.932200e+04,62.256479,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,200000.000000,2.505760e+05,1.730000e+05,2.881820e+05,69.513293,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,500000.000000,6.732760e+05,9.083610e+05,1.278302e+06,78.141002,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,844000.000000,1.355682e+06,1.600000e+07,2.120091e+07,100.000000,NaN,NaN,NaN,NaN

In [5]:
df = df[df["Disaster Group"] == "Natural"]
df

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,GADM Admin Units,Entry Date,Last Update
13,2000-0306-IND,No,nat-bio-epi-vir,Natural,Biological,Epidemic,Viral disease,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,54.895152,NaN,NaN,2003-07-01,2023-09-25
14,2000-0308-IND,No,nat-bio-epi-bac,Natural,Biological,Epidemic,Bacterial disease,NaN,Cholera,IND,...,NaN,NaN,NaN,NaN,NaN,54.895152,NaN,NaN,2003-07-01,2023-09-25
16,2010-0416-IND,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,69.513293,"[{""adm2_code"":70091,""adm2_name"":""Lakhimpur""}]","[{""gid_2"":""IND.4.20_1"",""migration_date"":""2025-...",2011-01-10,2025-12-20
18,2000-0459-IND,No,nat-bio-epi-bac,Natural,Biological,Epidemic,Bacterial disease,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,54.895152,NaN,NaN,2003-07-01,2023-09-25
20,2000-0568-IND,No,nat-bio-epi-vir,Natural,Biological,Epidemic,Viral disease,NaN,Japanese encephalitis,IND,...,NaN,NaN,NaN,NaN,NaN,54.895152,NaN,NaN,2003-07-01,2023-09-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,2001-0332-IND,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,IND,...,NaN,NaN,NaN,90000.0,159443.0,56.446576,"[{""adm2_code"":17809,""adm2_name"":""Cuttack""},{""a...","[{""gid_2"":""IND.26.12_1"",""migration_date"":""2025...",2005-09-20,2025-12-20
842,2001-0243-IND,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,56.446576,"[{""adm2_code"":17577,""adm2_name"":""Cachar""},{""ad...","[{""gid_2"":""IND.33.3_1"",""migration_date"":""2025-...",2005-09-19,2025-12-20
843,2001-0011-IND,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,56.446576,"[{""adm1_code"":1505,""adm1_name"":""Punjab""},{""adm...","[{""gid_1"":""IND.28_1"",""migration_date"":""2025-12...",2003-07-01,2025-12-20
844,2000-0738-IND,No,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm2_code"":70293,""adm2_name"":""North 24 Parg...","[{""gid_2"":""IND.36.15_1"",""migration_date"":""2025...",2003-07-01,2025-12-20
845,2000-0445-IND,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,IND,...,NaN,NaN,NaN,43000.0,78331.0,54.895152,"[{""adm1_code"":1485,""adm1_name"":""Andhra Pradesh...","[{""gid_1"":""IND.17_1"",""migration_date"":""2025-12...",2008-01-03,2025-12-20

In [6]:
df.isnull().sum()

DisNo.                                         0
Historic                                       0
Classification Key                             0
Disaster Group                                 0
Disaster Subgroup                              0
Disaster Type                                  0
Disaster Subtype                               0
External IDs                                 321
Event Name                                   372
ISO                                            0
Country                                        0
Subregion                                      0
Region                                         0
Location                                       0
Origin                                       226
Associated Types                             296
OFDA/BHA Response                              0
Appeal                                         0
Declaration                                    0
AID Contribution ('000 US$)                  412
Magnitude                                    271
Magnitude Scale                               43
Latitude                                     351
Longitude                                    351
River Basin                                  354
Start Year                                     0
Start Month                                    0
Start Day                                     46
End Year                                       0
End Month                                      2
End Day                                       46
Total Deaths                                  30
No. Injured                                  333
No. Affected                                 198
No. Homeless                                 383
Total Affected                               123
Reconstruction Costs ('000 US$)              428
Reconstruction Costs, Adjusted ('000 US$)    428
Insured Damage ('000 US$)                    411
Insured Damage, Adjusted ('000 US$)          411
Total Damage ('000 US$)                      312
Total Damage, Adjusted ('000 US$)            316
CPI                                           15
Admin Units                                   71
GADM Admin Units                              80
Entry Date                                     0
Last Update                                    0
dtype: int64

In [7]:
df["Disaster Type"].unique()

<StringArray>
[                   'Epidemic',                       'Flood',
         'Extreme temperature', 'Glacial lake outburst flood',
                       'Storm',                  'Earthquake',
         'Mass movement (wet)',         'Mass movement (dry)',
                    'Wildfire',                     'Drought']
Length: 10, dtype: str

In [8]:
hazards = ["Flood", "Storm", "Extreme temperature","Earthquake"]

df = df[df["Disaster Type"].apply(lambda x: x in hazards)]
df.isnull().sum()

DisNo.                                         0
Historic                                       0
Classification Key                             0
Disaster Group                                 0
Disaster Subgroup                              0
Disaster Type                                  0
Disaster Subtype                               0
External IDs                                 257
Event Name                                   322
ISO                                            0
Country                                        0
Subregion                                      0
Region                                         0
Location                                       0
Origin                                       181
Associated Types                             234
OFDA/BHA Response                              0
Appeal                                         0
Declaration                                    0
AID Contribution ('000 US$)                  345
Magnitude                                    204
Magnitude Scale                                0
Latitude                                     283
Longitude                                    283
River Basin                                  287
Start Year                                     0
Start Month                                    0
Start Day                                     31
End Year                                       0
End Month                                      0
End Day                                       30
Total Deaths                                  21
No. Injured                                  274
No. Affected                                 162
No. Homeless                                 318
Total Affected                                98
Reconstruction Costs ('000 US$)              359
Reconstruction Costs, Adjusted ('000 US$)    359
Insured Damage ('000 US$)                    343
Insured Damage, Adjusted ('000 US$)          343
Total Damage ('000 US$)                      250
Total Damage, Adjusted ('000 US$)            254
CPI                                           12
Admin Units                                   39
GADM Admin Units                              42
Entry Date                                     0
Last Update                                    0
dtype: int64

In [9]:
states = [
    "Maharashtra",
    "Tamil Nadu",
    "Odisha",
    "Assam",
    "Uttar Pradesh",
    "Rajasthan"
]
df = df[df["Location"].str.contains("|".join(states), case=False, na=False)]

In [10]:
df.columns = (
    df.columns
      .str.lower()
      .str.replace(r"[^\w]", "_", regex=True)
      .str.replace("__+", "_", regex=True)
      .str.strip("_")
)
df = df.rename(columns={
    "total_damage_000_us": "total_damage_usd"
})

In [11]:
states = [
    "Maharashtra",
    "Tamil Nadu",
    "Odisha",
    "Assam",
    "Uttar Pradesh",
    "Rajasthan"
]

def extract_state(location):
    for state in states:
        if pd.notna(location) and state.lower() in location.lower():
            return state
    return None

df["state"] = df["location"].apply(extract_state)


df = df[df["state"].notna()]

df["state"].unique()

df.head()

,disno,historic,classification_key,disaster_group,disaster_subgroup,disaster_type,disaster_subtype,external_ids,event_name,iso,...,insured_damage_000_us,insured_damage_adjusted_000_us,total_damage_usd,total_damage_adjusted_000_us,cpi,admin_units,gadm_admin_units,entry_date,last_update,state
16,2010-0416-IND,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,69.513293,"[{""adm2_code"":70091,""adm2_name"":""Lakhimpur""}]","[{""gid_2"":""IND.4.20_1"",""migration_date"":""2025-...",2011-01-10,2025-12-20,Assam
27,2023-0846-IND,No,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,IND,...,NaN,NaN,NaN,NaN,97.134993,NaN,"[{""gid_2"":""IND.31.25_1"",""name_2"":""Thoothukkudi...",2023-12-21,2026-01-16,Tamil Nadu
62,2020-0524-IND,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,GLIDE:TC-2020-000233,Cyclone Nivar,IND,...,NaN,NaN,600000.0,727223.0,82.505684,"[{""adm1_code"":1508,""adm1_name"":""Tamil Nadu""},{...","[{""gid_1"":""IND.27_1"",""migration_date"":""2025-12...",2020-12-01,2025-12-20,Tamil Nadu
65,2016-0002-IND,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,GLIDE:EQ-2016-000001|USGS:us10004b2n,NaN,IND,...,NaN,NaN,75000.0,98025.0,76.511216,"[{""adm2_code"":17583,""adm2_name"":""Kamrup""},{""ad...","[{""gid_2"":""IND.21.1_1"",""migration_date"":""2025-...",2016-01-12,2026-01-25,Assam
66,2004-0659-IND,No,nat-geo-ear-tsu,Natural,Geophysical,Earthquake,Tsunami,GLIDE:TS-2004-000147|USGS:official200412260058...,NaN,IND,...,5000.0,8304.0,1022800.0,1698620.0,60.213580,"[{""adm1_code"":1484,""adm1_name"":""Andaman and Ni...","[{""gid_1"":""IND.1_1"",""migration_date"":""2025-12-...",2014-03-27,2026-01-25,Tamil Nadu

In [12]:
df.info()

<class 'pandas.DataFrame'>
Index: 209 entries, 16 to 845
Data columns (total 48 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   disno                                 209 non-null    str
 1   historic                              209 non-null    str
 2   classification_key                    209 non-null    str
 3   disaster_group                        209 non-null    str
 4   disaster_subgroup                     209 non-null    str
 5   disaster_type                         209 non-null    str
 6   disaster_subtype                      209 non-null    str
 7   external_ids                          65 non-null     str
 8   event_name                            28 non-null     str
 9   iso                                   209 non-null    str
 10  country                               209 non-null    str
 11  subregion                             209 non-null    str
 12  region                                209 non-null    str
 13  location                              209 non-null    str
 14  origin                                106 non-null    str
 15  associated_types                      70 non-null     str
 16  ofda_bha_response                     209 non-null    str
 17  appeal                                209 non-null    str
 18  declaration                           209 non-null    str
 19  aid_contribution_000_us               12 non-null     float64
 20  magnitude                             101 non-null    float64
 21  magnitude_scale                       209 non-null    str
 22  latitude                              45 non-null     float64
 23  longitude                             45 non-null     float64
 24  river_basin                           48 non-null     str
 25  start_year                            209 non-null    int64
 26  start_month                           209 non-null    float64
 27  start_day                             187 non-null    float64
 28  end_year                              209 non-null    int64
 29  end_month                             209 non-null    float64
 30  end_day                               187 non-null    float64
 31  total_deaths                          200 non-null    float64
 32  no_injured                            43 non-null     float64
 33  no_affected                           117 non-null    float64
 34  no_homeless                           17 non-null     float64
 35  total_affected                        149 non-null    float64
 36  reconstruction_costs_000_us           0 non-null      float64
 37  reconstruction_costs_adjusted_000_us  0 non-null      float64
 38  insured_damage_000_us                 11 non-null     float64
 39  insured_damage_adjusted_000_us        11 non-null     float64
 40  total_damage_usd                      68 non-null     float64
 41  total_damage_adjusted_000_us          65 non-null     float64
 42  cpi                                   204 non-null    float64
 43  admin_units                           187 non-null    str
 44  gadm_admin_units                      187 non-null    str
 45  entry_date                            209 non-null    str
 46  last_update                           209 non-null    str
 47  state                                 209 non-null    str
dtypes: float64(20), int64(2), str(26)
memory usage: 80.0 KB

In [13]:
numeric_cols = ["total_damage_usd", "total_deaths", "total_affected"]

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [14]:
def safe_group_median_impute(series):
    # If at least one non-null value exists in the group
    if series.notna().sum() > 0:
        return series.fillna(series.median())
    else:
        return series  # leave NaN for national fallback

In [15]:
cols_to_impute = ["total_damage_usd", "total_deaths", "total_affected"]

for col in cols_to_impute:
    df[col] = (
        df.groupby(["state", "disaster_type"])[col]
          .transform(safe_group_median_impute)
    )

In [16]:
national_medians = df[cols_to_impute].median()

df[cols_to_impute] = df[cols_to_impute].fillna(national_medians)

In [17]:
df.isnull().sum()

disno                                     0
historic                                  0
classification_key                        0
disaster_group                            0
disaster_subgroup                         0
disaster_type                             0
disaster_subtype                          0
external_ids                            144
event_name                              181
iso                                       0
country                                   0
subregion                                 0
region                                    0
location                                  0
origin                                  103
associated_types                        139
ofda_bha_response                         0
appeal                                    0
declaration                               0
aid_contribution_000_us                 197
magnitude                               108
magnitude_scale                           0
latitude                                164
longitude                               164
river_basin                             161
start_year                                0
start_month                               0
start_day                                22
end_year                                  0
end_month                                 0
end_day                                  22
total_deaths                              0
no_injured                              166
no_affected                              92
no_homeless                             192
total_affected                            0
reconstruction_costs_000_us             209
reconstruction_costs_adjusted_000_us    209
insured_damage_000_us                   198
insured_damage_adjusted_000_us          198
total_damage_usd                          0
total_damage_adjusted_000_us            144
cpi                                       5
admin_units                              22
gadm_admin_units                         22
entry_date                                0
last_update                               0
state                                     0
dtype: int64

In [18]:
baseline = (
    df.groupby(["state","disaster_type"])
      .agg(
          total_events=("disaster_type", "count"),
          avg_damage=("total_damage_usd", "median"),
          median_damage=("total_damage_usd", "median"),
          avg_deaths=("total_deaths", "median"),
          avg_affected=("total_affected", "mean")
      )
      .reset_index()
)

baseline.head()

,state,disaster_type,total_events,avg_damage,median_damage,avg_deaths,avg_affected
0,Assam,Earthquake,3,75000.0,75000.0,8.0,1.963393e+05
1,Assam,Flood,43,125000.0,125000.0,61.0,3.720602e+06
2,Assam,Storm,6,50000.0,50000.0,48.0,4.682072e+05
3,Maharashtra,Extreme temperature,6,400000.0,400000.0,144.5,3.900000e+02
4,Maharashtra,Flood,26,1377000.0,1377000.0,62.0,3.735499e+06

In [19]:
events_per_year = (
    df.groupby(["state", "disaster_type", "start_year"])
      .size()
      .reset_index(name="events_in_year")
)

events_per_year.head()

   state disaster_type  start_year  events_in_year
0  Assam    Earthquake        2011               1
1  Assam    Earthquake        2016               1
2  Assam    Earthquake        2021               1
3  Assam         Flood        2000               1
4  Assam         Flood        2001               1

In [20]:
frequency = (
    events_per_year.groupby(["state", "disaster_type"])
      .agg(avg_events_per_year=("events_in_year", "mean"))
      .reset_index()
)

frequency.head()

         state        disaster_type  avg_events_per_year
0        Assam           Earthquake             1.000000
1        Assam                Flood             1.720000
2        Assam                Storm             1.200000
3  Maharashtra  Extreme temperature             1.000000
4  Maharashtra                Flood             1.444444

In [21]:
baseline = baseline.merge(frequency, on=["state", "disaster_type"], how="left")

In [22]:
# --- Safe Min-Max Scaling ---
def safe_min_max_scale(series):
    min_val = series.min()
    max_val = series.max()
    
    if max_val == min_val:
        return pd.Series(0, index=series.index)
    
    return (series - min_val) / (max_val - min_val)


# --- Normalize Core Severity Metrics ---
baseline["damage_score"] = safe_min_max_scale(baseline["avg_damage"])
baseline["deaths_score"] = safe_min_max_scale(baseline["avg_deaths"])
baseline["affected_score"] = safe_min_max_scale(baseline["avg_affected"])
baseline["frequency_score"] = safe_min_max_scale(baseline["avg_events_per_year"])


# --- Financial Vulnerability (Remove frequency from here) ---
baseline["financial_vulnerability"] = baseline["damage_score"]

# --- Human Vulnerability ---
baseline["human_vulnerability"] = (
    0.5 * baseline["deaths_score"] +
    0.5 * baseline["affected_score"]
)

# --- Base Vulnerability (Severity Only) ---
baseline["base_vulnerability"] = (
    0.6 * baseline["financial_vulnerability"] +
    0.4 * baseline["human_vulnerability"]
)

# --- Structural Adjustment (Frequency Multiplier) ---
baseline["historical_vulnerability_index"] = (
    baseline["base_vulnerability"] *
    baseline["frequency_score"]
) * 100


# --- Ranking ---
baseline["risk_rank"] = baseline["historical_vulnerability_index"] \
    .rank(method="dense", ascending=False)


# --- Final Sort ---
baseline = baseline.sort_values(
    "historical_vulnerability_index",
    ascending=False
)

baseline.head(10)

,state,disaster_type,total_events,avg_damage,median_damage,avg_deaths,avg_affected,avg_events_per_year,damage_score,deaths_score,affected_score,frequency_score,financial_vulnerability,human_vulnerability,base_vulnerability,historical_vulnerability_index,risk_rank
8,Odisha,Storm,13,760000.0,760000.0,12.0,3.533084e+06,1.857143,0.362963,0.000305,0.945813,1.000000,0.362963,0.473059,0.407001,40.700134,1.0
4,Maharashtra,Flood,26,1377000.0,1377000.0,62.0,3.735499e+06,1.444444,0.667654,0.003357,1.000000,0.518519,0.667654,0.501679,0.601264,31.176655,2.0
5,Maharashtra,Storm,10,863000.0,863000.0,28.0,2.139653e+05,1.666667,0.413827,0.001282,0.057273,0.777778,0.413827,0.029277,0.260007,20.222782,3.0
1,Assam,Flood,43,125000.0,125000.0,61.0,3.720602e+06,1.720000,0.049383,0.003296,0.996012,0.840000,0.049383,0.499654,0.229491,19.277267,4.0
18,Uttar Pradesh,Flood,24,110000.0,110000.0,44.0,1.449686e+06,1.411765,0.041975,0.002259,0.388079,0.480392,0.041975,0.195169,0.103253,4.960183,5.0
14,Tamil Nadu,Flood,17,64000.0,64000.0,30.0,7.713486e+05,1.416667,0.019259,0.001404,0.206486,0.486111,0.019259,0.103945,0.053134,2.582882,6.0
17,Uttar Pradesh,Extreme temperature,20,125000.0,125000.0,122.5,2.500000e+01,1.538462,0.049383,0.007050,0.000000,0.628205,0.049383,0.003525,0.031040,1.949931,7.0
2,Assam,Storm,6,50000.0,50000.0,48.0,4.682072e+05,1.200000,0.012346,0.002503,0.125334,0.233333,0.012346,0.063918,0.032975,0.769411,8.0
19,Uttar Pradesh,Storm,16,25000.0,25000.0,42.0,1.537688e+03,1.600000,0.000000,0.002136,0.000405,0.700000,0.000000,0.001271,0.000508,0.035580,9.0
0,Assam,Earthquake,3,75000.0,75000.0,8.0,1.963393e+05,1.000000,0.024691,0.000061,0.052554,0.000000,0.024691,0.026308,0.025338,0.000000,10.0

In [23]:
baseline.sort_values(
    "historical_vulnerability_index",
    ascending=True
).head(5)

,state,disaster_type,total_events,avg_damage,median_damage,avg_deaths,avg_affected,avg_events_per_year,damage_score,deaths_score,affected_score,frequency_score,financial_vulnerability,human_vulnerability,base_vulnerability,historical_vulnerability_index,risk_rank
11,Rajasthan,Storm,1,125000.0,125000.0,7.0,10000.0,1.0,0.049383,0.000000,0.002670,0.0,0.049383,0.001335,0.030164,0.0,10.0
7,Odisha,Flood,3,2050000.0,2050000.0,47.0,1263810.0,1.0,1.000000,0.002442,0.338320,0.0,1.000000,0.170381,0.668152,0.0,10.0
10,Rajasthan,Flood,4,250000.0,250000.0,180.0,160125.0,1.0,0.111111,0.010560,0.042859,0.0,0.111111,0.026710,0.077351,0.0,10.0
9,Rajasthan,Extreme temperature,1,125000.0,125000.0,733.0,25000.0,1.0,0.049383,0.044317,0.006686,0.0,0.049383,0.025501,0.039830,0.0,10.0
3,Maharashtra,Extreme temperature,6,400000.0,400000.0,144.5,390.0,1.0,0.185185,0.008393,0.000098,0.0,0.185185,0.004246,0.112809,0.0,10.0

In [24]:
final_phase1 = baseline[
    [
        "state",
        "disaster_type",
        "total_events",
        "avg_damage",
        "avg_deaths",
        "avg_affected",
        "avg_events_per_year",
        "historical_vulnerability_index",
        "risk_rank"
    ]
]

final_phase1

,state,disaster_type,total_events,avg_damage,avg_deaths,avg_affected,avg_events_per_year,historical_vulnerability_index,risk_rank
8,Odisha,Storm,13,760000.0,12.0,3.533084e+06,1.857143,40.700134,1.0
4,Maharashtra,Flood,26,1377000.0,62.0,3.735499e+06,1.444444,31.176655,2.0
5,Maharashtra,Storm,10,863000.0,28.0,2.139653e+05,1.666667,20.222782,3.0
1,Assam,Flood,43,125000.0,61.0,3.720602e+06,1.720000,19.277267,4.0
18,Uttar Pradesh,Flood,24,110000.0,44.0,1.449686e+06,1.411765,4.960183,5.0
14,Tamil Nadu,Flood,17,64000.0,30.0,7.713486e+05,1.416667,2.582882,6.0
17,Uttar Pradesh,Extreme temperature,20,125000.0,122.5,2.500000e+01,1.538462,1.949931,7.0
2,Assam,Storm,6,50000.0,48.0,4.682072e+05,1.200000,0.769411,8.0
19,Uttar Pradesh,Storm,16,25000.0,42.0,1.537688e+03,1.600000,0.035580,9.0
0,Assam,Earthquake,3,75000.0,8.0,1.963393e+05,1.000000,0.000000,10.0
3,Maharashtra,Extreme temperature,6,400000.0,144.5,3.900000e+02,1.000000,0.000000,10.0
6,Odisha,Extreme temperature,1,125000.0,179.0,4.600000e+02,1.000000,0.000000,10.0
11,Rajasthan,Storm,1,125000.0,7.0,1.000000e+04,1.000000,0.000000,10.0
10,Rajasthan,Flood,4,250000.0,180.0,1.601250e+05,1.000000,0.000000,10.0
9,Rajasthan,Extreme temperature,1,125000.0,733.0,2.500000e+04,1.000000,0.000000,10.0
7,Odisha,Flood,3,2050000.0,47.0,1.263810e+06,1.000000,0.000000,10.0
15,Tamil Nadu,Storm,12,487812.5,28.0,5.216667e+05,1.000000,0.000000,10.0
13,Tamil Nadu,Extreme temperature,1,125000.0,300.0,1.000000e+05,1.000000,0.000000,10.0
12,Tamil Nadu,Earthquake,1,1022800.0,16389.0,6.545120e+05,1.000000,0.000000,10.0
16,Uttar Pradesh,Earthquake,1,125000.0,78.0,5.600000e+02,1.000000,0.000000,10.0

In [25]:
final_phase1 = final_phase1.drop(final_phase1.index[11])
final_phase1

,state,disaster_type,total_events,avg_damage,avg_deaths,avg_affected,avg_events_per_year,historical_vulnerability_index,risk_rank
8,Odisha,Storm,13,760000.0,12.0,3.533084e+06,1.857143,40.700134,1.0
4,Maharashtra,Flood,26,1377000.0,62.0,3.735499e+06,1.444444,31.176655,2.0
5,Maharashtra,Storm,10,863000.0,28.0,2.139653e+05,1.666667,20.222782,3.0
1,Assam,Flood,43,125000.0,61.0,3.720602e+06,1.720000,19.277267,4.0
18,Uttar Pradesh,Flood,24,110000.0,44.0,1.449686e+06,1.411765,4.960183,5.0
14,Tamil Nadu,Flood,17,64000.0,30.0,7.713486e+05,1.416667,2.582882,6.0
17,Uttar Pradesh,Extreme temperature,20,125000.0,122.5,2.500000e+01,1.538462,1.949931,7.0
2,Assam,Storm,6,50000.0,48.0,4.682072e+05,1.200000,0.769411,8.0
19,Uttar Pradesh,Storm,16,25000.0,42.0,1.537688e+03,1.600000,0.035580,9.0
0,Assam,Earthquake,3,75000.0,8.0,1.963393e+05,1.000000,0.000000,10.0
3,Maharashtra,Extreme temperature,6,400000.0,144.5,3.900000e+02,1.000000,0.000000,10.0
11,Rajasthan,Storm,1,125000.0,7.0,1.000000e+04,1.000000,0.000000,10.0
10,Rajasthan,Flood,4,250000.0,180.0,1.601250e+05,1.000000,0.000000,10.0
9,Rajasthan,Extreme temperature,1,125000.0,733.0,2.500000e+04,1.000000,0.000000,10.0
7,Odisha,Flood,3,2050000.0,47.0,1.263810e+06,1.000000,0.000000,10.0
15,Tamil Nadu,Storm,12,487812.5,28.0,5.216667e+05,1.000000,0.000000,10.0
13,Tamil Nadu,Extreme temperature,1,125000.0,300.0,1.000000e+05,1.000000,0.000000,10.0
12,Tamil Nadu,Earthquake,1,1022800.0,16389.0,6.545120e+05,1.000000,0.000000,10.0
16,Uttar Pradesh,Earthquake,1,125000.0,78.0,5.600000e+02,1.000000,0.000000,10.0

In [26]:
df.to_csv("disaster_events_clean.csv", index=False)
baseline.to_csv("historical_baseline.csv", index=False)
final_phase1.to_csv("vulnerability_scores.csv", index=False)